<?xml version="1.0"?>
<config>
    <modules>
        <Macopedia_Sentry>
            <version>1.2.0</version>
        </Macopedia_Sentry>
    </modules>
    <global>
        <blocks>
            <macopedia_sentry>
                <class>Macopedia_Sentry_Block</class>
            </macopedia_sentry>
        </blocks>
        <helpers>
            <macopedia_sentry>
                <class>Macopedia_Sentry_Helper</class>
            </macopedia_sentry>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <macopedia_sentry>
                    <file>macopedia/sentry.xml</file>
                </macopedia_sentry>
            </updates>
        </layout>
    </frontend>
    <default>
        <macopedia_sentry>
            <general>
                <enable>0</enable>
                <raven_js_url><![CDATA[https://cdn.ravenjs.com/3.26.4/raven.min.js]]></raven_js_url>
            </general>
            <options>
                <sampleRate>1.0</sampleRate>
                <sanitizeKeys><![CDATA[password
secret
passwd
api_key
apikey
access_token
auth_token
credentials
mysql_pwd
stripetoken
creditcard
cvv
card[number]]]></sanitizeKeys>
            </options>
        </macopedia_sentry>
    </default>
</config>
